{% extends 'MiiGameBundle:Entrada:layout.html.twig' %}
{% block scripts %}
	function endGame(){
		var status = $("#loader").css('display');
		
		if(status == 'none'){
		$("#loadholder").html("<br><br>Se ha acabado el tiempo! Vuelve a intentarlo. <br><a href='{{ path('playlevel',{ 'level' : level.id }) }}' class='btn primary large'>Reiniciar nivel</a>");

		$("#loader").fadeIn();
		
		}
	}
	
	
	$("#loadslider").animate({ 'width' : '420px' }, 5000,function(){
		$("#loadholder").html("<div id='startbutton' class='btn primary large'>Comenzar nivel {{ level.id }}</div>");
		$("#startbutton").click(function(){
		
			
    		 $.ajax({
     			url : "{{ path('startlevel', { 'level' : level.id }) }}",
				dataType : 'JSON',
				success : function(r){
					if(r.status == "success"){
						
						//start the game
						$("#loader").fadeOut();
						$("#timeslider").animate({'width' : '0px' }, {{ level.timeout }}, function(){
							endGame();
						});
						
						$("#imageholder").click(function(e){

							var x = e.pageX - this.offsetLeft;
							var y = e.pageY - this.offsetTop;

     						$.ajax({
						     	url : "{{ path('trysolution') }}",
						     	type : 'POST',
						     	dataType : 'JSON',
						     	data : 'id='+r.partida.slug+'&xcenter='+x+'&ycenter='+y,
						     	success : function(r){
						     		if(r.end){
						     			$("#loadholder").html();
										$("#loadholder").html("<br><br>Felicidades, has superado el nivel {{ level.id }} en "+r.diff+" segundos! <br><a class='btn primary large' href='{{ path('playlevel',{ 'level' : level.id+1 }) }}'>Siguiente nivel ("+parseInt({{ level.id }}+1)+")</a>");
						     			$("#loader").fadeIn();
						     			
						     			FB.ui({
										    method: 'feed',
    										name: 'ha superado el nivel {{ level.id }} en '+r.diff+' segundos!',
										    link: 'http://apps.facebook.com/buscalasdiferencias/',
										    picture: '{{ asset('bundles/miigame/images/difference.png') }}',
										    caption: 'Encuentra las 3 diferencias en el menor tiempo posible! varias dificultades y niveles.',
										  },
										  function(response) {
										    if (response && response.post_id) {
											      alert('Post was published.');
										    } else {
											      alert('Post was not published.');
										    }
										  });



						     		}else{
						     			if(r.solution.status){
											$("#imageholder").append('<div class="rmv" style="margin-left: '+r.solution.xstart+'px; margin-top: '+r.solution.ystart+'px;"><img src="{{ asset('bundles/miigame/images/fix.png') }}"></div>');	     				
						     			}
						     			if(r.left > 0){
						     			
						     			$("#solutionsleft").html("Quedan "+r.left);
										
										}				
						     		}
						     		
						     		
						     	}
						     })
     
					   });
											
					}else{
						alert("Error, no se pudo iniciar partida: "+r);
					}
				}
     			
     			
     		});
			

			
			
		});
		
		
	});
   
   setInterval(function(){
   	var time = parseInt($("#timeslider").html());
   	if(time > 0){
   		$("#timeslider").html(time-1);
   	}
   },1000)
   
{% endblock %}
{% block body %}


<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId  : '145597308865831',
    status : true, 
    cookie : true, 
    xfbml  : true,
    channelURL : 'http://www.mallify.com/diferencias/web/facebook/channel', // channel.html file
    oauth  : true // enable OAuth 2.0
  });
  
  function behave(){

  }
  
</script>



<div id="loader">
<div style="margin-bottom: 40px;"></div>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8833014325914407";
/* Juego de las Diferencias */
google_ad_slot = "0700360194";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br>

<div id="loadholder">
<div id="loadslider" class="btn primary" style="width:4px;"></div>
<div style="clear:both"></div>
Cargando nivel {{ level.id }} ...<br>
</div>
<br><br>
<a class="btn info large" href="{{ path('levels') }}">Volver atrás</a>

</div>

<div class="cointainer"> 
	<div id="slider-wrapper"> 
		<div id="statusbar">
			<h3>Haz click en las 3 diferencias para resolver el nivel.</h3>
		</div>

<div id="imageholder" style="background-image: url({{ asset(level.getWebPath) }});">

<div style="clear:both"></div>
</div>

		<div id="status">
			<a class="btn info large" href="{{ path('levels') }}">Volver atrás</a> 
			<a href="#" class="btn danger large" id="solutionsleft">Quedan {{ level.countSolutions() }}</a>
		</div>
		
		<div id="timeslider" class="btn primary large">{{ level.timeout/1000 }}</div>

	</div>
</div>
{% endblock %}