<h1>Level list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Block</th>
            <th>Time1</th>
            <th>Time2</th>
            <th>Time3</th>
            <th>Timeout</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('level_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.block }}</td>
            <td>{{ entity.time1 }}</td>
            <td>{{ entity.time2 }}</td>
            <td>{{ entity.time3 }}</td>
            <td>{{ entity.timeout }}</td>
            <td>{{ entity.title }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('level_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('level_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('level_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
